* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: 0 auto;
  p {
    font-size: 34px;
  }
}

.imgBlock {
  display: inline-block;
  border: 4px dotted black;
  width: 80%;
  img {
    width: 100%;
    height: 200px;
    opacity: 0;
  }
}
