* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.text-content {
  font-size: 36px;
}

.image-content {
  width: 250px;
  height: 150px;
  display: block;
  background-color: #F1F1FA;
  margin: 10px auto;
}